[Unit]
Description=ADSBHub Feeder Script
After=network.target dump1090
Requires=dump1090
BindsTo=dump1090

[Service]
ExecStart=/usr/bin/adsbhub.sh
Restart=always
RestartSec=3
StartLimitInterval=0
User=lg

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
