[Unit]
Description=ADSBHub Feeder Script
StartLimitInterval=0
StartLimitBurst=0
After=network.target dump1090.service
Requires=dump1090.service
BindsTo=dump1090.service

[Service]
ExecStartPre=/bin/bash -c 'systemctl is-active -q dump1090.service || exit 1'
ExecStartPre=/bin/bash -c 'nc -z -w 1 data.adsbhub.org 5001 || exit 1'
ExecStart=/usr/bin/adsbhub.sh
Restart=always
RestartSec=3
User=lg

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
